.shiftCard {
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закругление углов */
    padding: 10px; /* Отступы внутри карточки */
    margin: 10px 0; /* Отступы между карточками */
    background-color: #f9f9f9; /* Цвет фона карточки */
    display: flex;
    justify-content: space-between; /* Распределить контент по краям */
    align-items: center; /* Вертикальное выравнивание */
    cursor: pointer; /* Указатель как нажатие */
    transition: background-color 0.5s, color 0.5s;

  }
  
  .container.dark .shiftCard {
    background-color: #444;
    color: #fff;
  }

  .shiftCard:hover {
    background-color: #e0e0e0; /* Легкое затемнение при наведении */
  }
  
  .textInCard {
    width: 90%;
    margin: 0 10px;
  }
  
  .trashButton {
    background-color: #f44336d7;
    color: var(--delete-button-text);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .trashButton:hover {
    background-color: #ff2d2d;
  }