/* Фон модального окна */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  /* Плавная анимация появления и исчезновения */
  }
  
  .modalOverlay.opening {
    opacity: 1;  /* Показываем фон */
  }
  
  .modalOverlay.closing {
    opacity: 0;  /* Прячем фон */
  }
  
  /* Содержимое модального окна */
  .modalContent {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;  /* Плавные трансформации */
    opacity: 0;
  }
  
  .modalContent.opening {
    transform: scale(1);  /* Плавное увеличение размера */
    opacity: 1;           /* Плавное появление */
  }
  
  .modalContent.closing {
    transform: scale(0.8);  /* Плавное уменьшение размера */
    opacity: 0;             /* Плавное исчезновение */
  }
  
  .modalContent h2 {
    margin-bottom: 20px;
  }
  
  .themeToggle {
    margin-bottom: 20px;
  }
  
  .themeToggle label {
    margin-right: 10px;
  }
  
  .modalFooter {
    margin-top: 20px;
    font-size: 0.8em;

  }
  
  .closeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .shiftCard {
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закругление углов */
    padding: 10px; /* Отступы внутри карточки */
    margin: 10px 0; /* Отступы между карточками */
    background-color: #f9f9f9; /* Цвет фона карточки */
  }
  